<template>
  <div>
    <v-row>
      <v-col cols="12" align-center justify-center>
        <v-card-title primary-title>
          따릉이 렌트수
        </v-card-title>
        <svg>
        </svg>
        <p class="container-label label-top"><i></i>거치율</p>
        <p class="container-label label-bottom"><i></i>거치대개수</p>
      </v-col>
    </v-row>
    <v-row>
      <v-col cols="12" align-center justify-center>
        <svg id="svg2"></svg>
        {{bikes}}
      </v-col>
    </v-row>
  </div>
</template>

<script>
import * as d3 from 'd3';
import axios from 'axios';
// const data = require('../../flare-2.json');

export default ({
  data() {
    return {
      items: [
        {id: "1", value: 1, region:'서울' },
        {id: "2", value: 2, region:'세종' },
        {id: "3", value: 3, region:'인천' },
        {id: "4", value: 4, region:'대전' },
        {id: "5", value: 5, region:'광주' },
        {id: "6", value: 6, region:'대구' },
        {id: "7", value: 7, region:'울산' },
        {id: "8", value: 8, region:'부산' },
      ],
      bikes: [],
    }
  },
  mounted() {
    axios
      .get('/76686f786e7370613932676f656b51/json/bikeList/1/10/')
      .then(response => {
        let dat = response.data.rentBikeStatus.row;
        for(let  i = 1; i < dat.length; i++){
          dat[i].id = i
        }
        this.bikes = response.data.rentBikeStatus.row;
        this.init()
      })
      .catch(error => {
        console.log(error.message);
      });
    
  },
  methods: {
    init() {
      this.loaded = true

      const svg = d3.select('svg').classed('container-svg', true)
      const svg2 = d3.select("#svg2").classed('container-svg', true);

      const xScale = d3.scaleBand().domain(this.bikes.map(dat => dat.stationName)).rangeRound([9,1200]).padding(0.1)
      const yScale = d3.scaleLinear().domain([0,55]).range([180,20])

      const xScale2 = d3.scaleBand().domain(this.items.map(dat => dat.region)).rangeRound([20,800]).padding(0.1)
      const yScale2 = d3.scaleLinear().domain([10,0]).range([100,0])

      // [ bars ]
      // eslint-disable-next-line no-unused-vars
      svg
        .selectAll('.bar-bottom')
        .data(this.bikes)
        .enter()
        .append('rect')
        .classed('bar-bottom', true)
        .attr('width', xScale.bandwidth())
        .attr('height', data => 180 - yScale(data.rackTotCnt))
        .attr('x', data => xScale(data.stationName))
        .attr('y', data => yScale(data.rackTotCnt))

      svg
        .selectAll('.bar')
        .data(this.bikes)
        .enter()
        .append('rect')
        .classed('bar', true)
        .attr('width', xScale.bandwidth())
        .attr('height', data => 180 - yScale(data.shared))
        .attr('x', data => xScale(data.stationName))
        .attr('y', data => yScale(data.shared))
        .style("fill", function (d) {
          if (d.id > 0 && d.id <= 3) { return "#FFE0E0" }
          else if (d.id >= 4 && d.id < 7) { return "#E37EB2" }
          else return "#B5458E"
        })
        .style("opacity", 0.5)
        .on('mouseenter', function() {
          d3.select(this).classed("selected",true)
        })
        .on('mouseleave', function() {
          d3.select(this).classed("selected",false)
        })

      // [ label ]
      const xAxis = d3.axisTop(xScale)
      // eslint-disable-next-line no-unused-vars
      const xLabel = d3.select('svg')
        .append('g')
        .attr('transform',"translate(16, 180)")
        .style('color','#222')
        .call(xAxis)

      const yAxis = d3.axisLeft(yScale)
      // eslint-disable-next-line no-unused-vars
      const yLabel = d3.select('svg')
        .append('g')
        .attr('transform',"translate(25, 0)")
        .call(yAxis)

      // // [ label right ]
      // svg
      //   .selectAll("p")
      //   .data(this.bikes)
      //   .enter()
      //   .append("text")
      //   .attr('x', 1120)
      //   .attr('y', 20)
      //   .attr("class", "bar-text")
      //   .html(function() {
      //     return '거치대개수';
      //   })

      // [ circle ]
      svg2
        .selectAll('.circle')
        .data(this.items)
        .enter()
        .append("circle")
        .classed('circle',true)
        // .transition()
        .attr('cx', data => xScale2(data.region))
        .attr('cy', data => 150 - yScale2(data.value))
        .attr("r", data => yScale2(data.value) / 2)
        .attr("fill", function(d){
          if (d.id > 0 && d.id <= 3) { return "#FFE0E0" }
          else if (d.id >= 4 && d.id < 7) { return "#E37EB2" }
          else return "#B5458E"
        })

      // [ text ]
      svg2
        .selectAll("div")
        .data(this.items)
        .enter()
        .append("text")
        .attr('x',data => xScale2(data.region) - 20)
        .attr('y', data => 159 - yScale2(data.value))
        .attr("class", "bar-text")
        .html(function(d) {
          return d.region;
        })
        .on('mouseenter', function() {
          d3.select(this).style("font-size", "48px")
        })
        .on('mouseleave', function() {
          d3.select(this).style("font-size", "24px")
        })
    }
  }
})
</script>
<style>
@keyframes ani-circle {
  from {
    transform: scale(0.8);
  }
  to {
    transform: scale(1);
  }
}
.container-svg {
  position: relative;
  width: 100%;
  height: 230px;
  padding: 20px;
  background: rgb(255, 255, 255);
  border: 1px solid rgb(179, 175, 175);
}

.container-label {
  position: absolute;
  top: 80px;
  right: 45px;
  font-size: 14px;
  color: #222;
}

.container-label.label-bottom {
  top: 110px;
  right: 20px;
}

.container-label i {
  display: inline-block;
  vertical-align: middle;
  margin-right: 10px;
  width: 35px;
  height: 20px;
  background:rgb(70, 68, 68);
}

.container-label.label-top i {
  background: #E37EB2;
}

.selected {
  fill: rgb(202, 60, 60)!important;
  transition: all 0.2s ease-in;
  cursor: pointer;
}

.circle {
  animation: ani-circle .5 ease-in-out;
}

.bar-bottom {
  fill: rgb(70, 68, 68);
}

.bar {
  fill: rgb(236, 160, 160);
}

.bar-text {
  display: flex;
  position: relative;
  fill: rgb(56, 56, 56);
  font-size: 14px;
}

</style>

