<template>
  <v-container>
    <v-row>
      <v-col md="12" sm="12" xs="12">
        <v-card>
          <v-card-title primary-title>
            따릉이 렌트 상황
          </v-card-title>
          <chart-line :height="300" :chart-data="datacollection" :options="options"></chart-line>
        </v-card>
      </v-col>
      <v-col md="12" sm="12" xs="12">
        <v-card>
          <v-card-title primary-title>
            따릉이 렌트 상황
          </v-card-title>
          <chart-pie :height="300" :chart-data="datacollection" :options="options"></chart-pie>
        </v-card>
      </v-col>
    </v-row>
    <v-row>
      <v-col>
        <pack-chart :bikeData="items" />
      </v-col>
    </v-row>

    <!-- <v-row class="text-center">
      <v-col cols="6" v-for="(item, i) in items" :key="i">
        <v-card>
          <v-list>
            <v-list-item>
                대여소이름: {{item.stationName}}
            </v-list-item>
            <v-list-item>
                대여소ID: {{item.stationId}}
            </v-list-item>
            <v-list-item>
                거치대개수: {{item.rackTotCnt}}
                자전거주차총건수: {{item.parkingBikeTotCnt}}
            </v-list-item>
            <v-list-item>
              거치율: {{item.shared}}
            </v-list-item>
            <v-list-item>
              위도: {{item.stationLatitude}}
              경도: {{item.stationLongitude}}
            </v-list-item>
          </v-list>
        </v-card>
      </v-col>
    </v-row> -->
  </v-container>
</template>

<script>
import axios from 'axios';
import chartLine from "../components/chartLine";
import chartPie from "../components/chartPie";
import packChart from "../components/packChart";

export default {
  components: {
    chartLine,
    chartPie,
    packChart
  },
  data: () => ({
    // 따릉이
    items: [],
    loaded: false,
    datacollection: {},
    options: {
      responsive: true,
      maintainAspectRatio: false,
      animation: {
          duration: 0
      },
      hover: {
          animationDuration: 0
      },
      responsiveAnimationDuration: 0
    }
  }),
  mounted() {
    axios
      .get('/76686f786e7370613932676f656b51/json/bikeList/1/10/')
      .then(response => {
        this.items = response.data.rentBikeStatus.row;
        this.fetchData()
        this.loaded = true
      })
      .catch(error => {
        console.log(error.message);
      });
  },
  methods: {
    fetchData() {
      const labelArr = new Array();
      const setsArr = new Array();
      const dataArr = [];
      const colorSets = [
        {fore: '#EF9A9A', back: '#B71C1C'}, {fore: '#F48FB1', back: '#880E4F'}, {fore: '#CE93D8', back: '#4A148C'}, {fore: '#B39DDB', back: '#311B92'}, {fore: '#9FA8DA', back: '#1A237E'}, {fore: '#64B5F6', back: '#0D47A1'}, {fore: '#4FC3F7', back: '#01579B'}, {fore: '#0097A7', back: '#006064'}, {fore: '#00897B', back: '#004D40'}, {fore: '#81C784', back: '#1B5E20'},
        ]
      
      for(let i = 0; i < this.items.length; i++) {
        const setObj = new Object();
        const data = this.items[i].shared

        setObj.label = this.items[i].stationName
        setObj.backgroundColor = colorSets[i].fore
        setObj.borderColor = colorSets[i].back
        setObj.borderWidth = 1
        dataArr.push(data);
        setObj.data = dataArr;

        setsArr.push(setObj)
        labelArr.push(this.items[i].stationName)

        this.datacollection.labels = labelArr
        this.datacollection.datasets = setsArr
      }
      
      this.loaded = true
    },
    subtract() {
      this.reduced -= 0.1
      if(this.reduced > 0.001) {
        requestAnimationFrame(this.subtract)
      }else{
        this.reduced = 0
      }
    },
  },
  watch: {
    c(val) {
      this.reduced = val
      this.subtract()
    },
  },
  computed: {
    c() {
      return this.a + this.b
    },
  },
  
};
</script>
<style scoped>
.line {
  border: 1px solid #888;
  padding: 8px;
  margin: 0 2px;
}
</style>
