/* eslint-disable no-debugger */
<template>
  <div>
    <v-card>
    <v-card-title primary-title>
      한국 도시 인구 수 그래프
    </v-card-title>
    <v-card-text>
      <svg></svg>
      <v-slider v-model="item.value" v-for="(item,i) in items" :key="i" step="1" height="20" max="100" :label="item.region"></v-slider>
    </v-card-text>
    </v-card>
  </div>
</template>
<script>
import { Pie } from 'vue-chartjs';
import * as d3 from 'd3';

// import * as d3Collection from 'd3-collection'
const DUMMY_DATA = [
  {id: "1", value: 100, region:'서울' },
  {id: "2", value: 50, region:'세종' },
  {id: "3", value: 57, region:'인천' },
  {id: "4", value: 48, region:'대전' },
  {id: "5", value: 78, region:'광주' },
  {id: "6", value: 44, region:'대구' },
  {id: "7", value: 22, region:'울산' },
  {id: "8", value: 8, region:'부산' },
]

export default {
  extends: Pie,
  props: [
    'bikeData',
  ],
  data() {
    return {
      msg: '따릉이 사용 현황',
      items: [],
    }
  },
  mounted() {
    this.getD3()
  },
  updated: function (){
    this.updateD3(this.items)
  },
  methods: {
    getD3()  {
      // eslint-disable-next-line no-debugger
      this.items = DUMMY_DATA;
      const xScale = d3
        .scaleBand()
        .domain(DUMMY_DATA.map(dat => dat.region))
        .rangeRound([25,1100])
        .padding()
      
      const yScale = d3.scaleLinear().domain([0,100]).range([180,0])

      const container = d3.select('svg').classed('container-svg', true)
      // eslint-disable-next-line no-unused-vars
      const bars = container
        .selectAll('.bar')
        .data(DUMMY_DATA)
        .enter()
        .append('rect')
        .classed('bar', true)
        .attr('width', xScale.bandwidth() )
        .attr('height', data => 200 - yScale(data.value))
        .attr('x', data => xScale(data.region))
        .attr('y', data => yScale(data.value))
    },
    updateD3(items)  {
      this.items = DUMMY_DATA
      const xScale = d3
        .scaleBand()
        .domain(items.map(dat => dat.region))
        .rangeRound([25,800])
        .padding(.2)

      const yScale = d3.scaleLinear().domain([0,100]).range([180,10])

      const container = d3.select('svg').classed('container', true)
      // eslint-disable-next-line no-unused-vars
      const bars = container
        .selectAll('.bar')
        .data(items)
        .attr('width', xScale.bandwidth())
        .attr('height', data => 200 - yScale(data.value))
        .attr('x', data => xScale(data.region))
        .attr('y', data =>  yScale(data.value))
      const xAxis = d3.axisTop(xScale)
      // eslint-disable-next-line no-unused-vars
      const xLabel = d3.select('svg')
        .append('g')
        .attr('transform',"translate(0, 187)")
        .call(xAxis)

      const yAxis = d3.axisLeft(yScale)
      // eslint-disable-next-line no-unused-vars
      const yLabel = d3.select('svg')
        .append('g')
        .attr('transform',"translate(25, 0)")
        .call(yAxis)
    },
  }
};
</script>
<style>
.container-svg {
  width:100%;
  min-width: 320px;
  height:230px;
  padding: 20px;
  border: 1px solid rgb(131, 131, 131);
  overflow-y: scroll;
}
.bar {
  fill: rgb(236, 160, 160);
}
</style>
