<template>
  <v-app>
    <v-app-bar
      app
      color="primary"
      dark
    >
      <v-toolbar-title>
        D3와 공공API를 이용한 그래프 프로젝트
      </v-toolbar-title>
      
      <v-spacer></v-spacer>
      <v-btn
        to="/"
        text
        depressed
      >
        따릉이 사용현황
      </v-btn>
      <v-btn
        to="/d3Tree"
        text
        depressed
      >
        D3 Tree
      </v-btn>
      <v-btn
        to="/d3Line"
        text
        depressed
      >
        D3 Line
      </v-btn>
    </v-app-bar>

    <v-main>
      <router-view />
    </v-main>
  </v-app>
</template>

<script>
export default {
  name: 'App',
};
</script>
